* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.jokebox {
  width: 20rem;
  background: #3366cc;
  color: #fff;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  height: 10rem;
}
.btn {
  background: #3366cc;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper img {
  height: 5rem;
}
